
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');





body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
   

  }

  .navbar{
   
    background: linear-gradient(to left, #310101, #531a00);
  }

  section {
    padding: 100px 0;
    min-height: 100vh;
    width: 100%;
    
  }

  #home{
    background-image: url('images/bg_texture1.png');
    background-repeat: 'no-repeat-x';      
    background-size: 'contain';         
    background-position: 'image';  
    border-image: url('border.png') 25 round;
    border-bottom: 2px dotted #b7b7b7;

  }
  #repertoire{
    background-image: url('images/bg_texture2.jpg');
    background-repeat: 'no-repeat-x';      
    background-size: 'contain';         
    background-position: 'image';  
    border-bottom: 2px dotted #b7b7b7;

  }
  #media{
    background-image: url('images/bg_texture3.jpg');
    background-repeat: 'no-repeat-x';      
    background-size: 'contain';         
    background-position: 'image';  
    border-bottom: 2px dotted #b7b7b7;

  }
  #contact{
    background-image: url('images/bg_texture4.jpg');
    background-repeat: 'no-repeat-x';      
    background-size: 'contain';         
    background-position: 'image';  
    border-bottom: 2px dotted #b7b7b7;

  }



  nav.navbar {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }

  h1 {
    font-family: "Kaushan Script", cursive;
    font-style: 5rem;
    
  }

  h3{
    font-family: "Kaushan Script", cursive;
    font-style: .5rem;
  }

  .nav-link{
    font-family: "Kaushan Script", cursive;
    font-size: 1.5rem;
    color: aliceblue;
  }

  .nav-link:hover{
    color:  rgb(247, 235, 9);
  }

  p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
  }

  #upcomingRow{
    margin-top: 10rem;
  }