
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');




body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

}

.navbar {
   
    background: linear-gradient(to left, #1b0000, #531a00);
}

section {
    padding: 100px 0;
    min-height: 50vh;
    width: 100%;
    
}

#home{
    background-image: url('images/bg_texture1.png');
    background-repeat: 'no-repeat-x';      
    background-size: 'contain';         
    background-position: 'image';  
    border-image: url('border.png') 25 round;
    border-bottom: 2px dotted #b7b7b7;


}
#repertoire{
    background-image: url('images/bg_texture2.jpg');
    background-repeat: 'no-repeat-x';      
    background-size: 'contain';         
    background-position: 'image';  
    border-bottom: 2px dotted #b7b7b7;

}
#media{
    background-image: url('images/bg_texture3.jpg');
    background-repeat: 'no-repeat-x';      
    background-size: 'contain';         
    background-position: 'image';  
    border-bottom: 2px dotted #b7b7b7;

}

#contact{
    background-image: url('images/bg_texture4.jpg');
    background-repeat: 'no-repeat-x';      
    background-size: 'contain';         
    background-position: 'image';  
    border-bottom: 2px dotted #b7b7b7;

}

  footer{
    background-color: #2a0d01;
    font-size: 500px;
  }



  nav.navbar {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }

  h1 {
    font-family: "Kaushan Script", cursive;
    font-style: 5rem;
    
  }

  h3{
    font-family: "Kaushan Script", cursive;
    font-style: .5rem;
  }

  h5:not(.modal-title){
    font-family: "Roboto Condensed", sans-serif;
    text-transform:uppercase;
    font-size: 1.2rem;
    /* border-top: 2px dotted #b7b7b7; */
  
  }

  .nav-link{
    font-family: "Kaushan Script", cursive;
    font-size: 1.5rem;
    color: aliceblue;

	
  }

  .nav-link:hover{
    color:  rgb(247, 235, 9);
    
    animation: bounce; 
    animation-duration: 2s;
	
  }

  .navbar-brand img{

    animation: heartBeat; 
    animation-duration: 2s;
  }

  #leftAnim{


    animation: fadeInLeft; 
    animation-duration: 1s;
  }

  #rightAnim{

    animation: fadeInRight; 
    animation-duration: 1s;
  }

  p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
  }

  #upcomingRow{
    margin-top: 10rem;
    animation: fadeInUp; 
    animation-duration: 1s;
  }

  .modal-content{
    background: #531a00;
    font-family: "Roboto Condensed", sans-serif;
    color: white
  }

  #bios button{
    background: #531a00;
    font-weight: 700;
    color: white;

	

  
  }

  #bios button:hover{
    background-color: rgb(247, 235, 9);
    color: #531a00;
    font-family: "Kaushan Script", cursive;
   

  } 


  .modal-footer button{
    background-color: rgb(247, 235, 9);
    color:#531a00;
    font-weight: 700;
  }

  .modal-footer {
    border-width: 0;
  }

  .modal-title{
    font-family: "Kaushan Script", cursive;
    font-size: 2rem
  }

